body {
	font-family: 'Open Sans';
	font-size: 21px;
	color: rgb(86, 90, 92);
	padding: 0px;
	margin: 0px;
}

a { outline: 0; }
h1 { 
	font-weight: 100; 
	display: block;
	width: 100%;
	background-color: #e8ecef;
}

.column1 {
	width: auto;
	margin-right: 320px;
}
.column2 {
	position: absolute;
	right: 300px;
	top: 78px;
}