body {
	font-family: 'Open Sans';
	font-size: 21px;
	color: rgb(86, 90, 92);
}

a { outline: 0; }
h1 { font-weight: 100; }

.column1 {
	width: auto;
	margin-right: 320px;
}
.column2 {
	position: absolute;
	right: 300px;
	top: 78px;
}