
	<div class="lbo-list-item {{options.item_class}} lbo-list-item-{{id}}">
		<a href="{{link_view}}" class="lbo-title">
			{{#if image_small}}
			<div class="lbo-crop">
				<img src="{{image_large}}" alt="{{title}}"/>
			</div>
			{{/if}}
			<ul class="lbo-list-item-performances">
			{{#each performances}}
				<li><a href="#">{{this.start_date_formatted}}</a></li>
			{{/each}}
			</ul>
			<div class="lbo-list-item-title">{{title}}</div>
			<div class="lbo-list-item-date-summary">
				{{on_from_formatted}}
			</div>
			<div class="lbo-list-item-controls">
				<button class="lbo-list-item-btn-performances" type="button" class="btn btn-xs btn-primary" data-event-id="{{id}}">
					<span class="glyphicon glyphicon-calendar"></span>
				</button>
			</div>
		</a>
	</div>
