<form id="lbo-form-search" name="lbo-form-search" class="form-inline">

	<div class="input-group lbo-search-text">
		<input name="search" type="text" class="form-control" placeholder="Search"/>
	</div>

	<div class="input-group lbo-search-category">
		<select name="category[]" class="selectpicker" multiple="true" title="Category"></select>
	</div>

	<div class="input-group date lbo-search-datepicker">
		<input type="text" class="form-control" placeholder="Date"/>
		<span class="input-group-addon">
			<span class="glyphicon glyphicon-calendar"></span>
		</span>
	</div>	

</form>